<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>SureOdds Solutions</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <!-- Product 1 -->
    <section class="showcase">
      <div class="showcase-content">
        <h1>Sports Betting Research Bot</h1>
        <p>
          Discover unparalleled value with Sure Odd's advanced research bot.
          Designed for Discord servers, our bot offers a suite of features
          including real-time line movement tracking across major sports and
          leagues, thorough player props research, and much more. Save time and
          uncover hidden value in sports betting with Sure Odds' comprehensive
          research bot.
        </p>

        <a href="https://whop.com/sure-odds/" target="_blank">
          <button class="btn btn-lg button header-buttons">
            Add Bot to Discord
          </button>
        </a>
      </div>

      <div class="showcase-image">
        <img
          class="header-image"
          src="../../../assets/discord laptop screen shot.png"
          alt=""
        />
      </div>
    </section>

    <!-- Product 2 -->
    <section class="showcase">
      <div class="showcase-image image-2">
        <img
          class="header-image"
          src="../../../assets/sureodds player prop research screen shot.png"
          alt=""
        />
      </div>

      <div class="showcase-content">
        <h1>Custom Sports Betting Bots</h1>
        <p>
          We build custom sport betting bot, tailor to your need to help you
          find value in the market. If you are intrested in taking you game to
          the next level, contact us.
        </p>

        <a href="mailto:joseph-sure-odds@streamfling.com" target="_blank">
          <button class="btn btn-lg button header-buttons">Contact Us</button>
        </a>
      </div>
    </section>
  </div>
</section>
