<section class="showcase">
  <div class="showcase-content">
    <h1>Your Game-Changing Hub for Sports Research!</h1>
    <p>
      Elevate your reporting, commentary, and betting with the Ultimate Sports
      Research Companion.
    </p>

    <button class="btn btn-lg button header-buttons" routerLink="/">
      Find Sure Odds
    </button>
  </div>
  <div class="showcase-image">
    <img
      class="header-image"
      src="../../../assets/pexels-pixabay-269948.jpg"
      alt=""
    />
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>What is SureOdds?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          At SureOdds, we are a group of data analysts who intimately comprehend
          the intricacies of data and research in this fast-paced sports
          industry. We specialize in providing sports journalists, commentators,
          and bettors like you with a comprehensive suite of services designed
          to streamline your research efforts and bolster your operation.
        </p>
      </div>

      <div class="features">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md">Player Prop Research</p>
          <p class="bullet-points">
            Access our in-depth player prop analysis that offers invaluable
            insights into player performance and betting opportunities.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md">Line Comparison Research</p>
          <p class="bullet-points">
            Save time by utilizing our line comparison research, ensuring you
            always secure the best odds from a range of sportsbooks.
          </p>
        </div>

        <div class="text-center">
          <h1>3</h1>
          <p class="text-md">Trustworthy Data</p>
          <p class="bullet-points">
            We collaborate exclusively with trusted sportsbooks, guaranteeing
            our customers accurate and dependable odds data and more.
          </p>
        </div>
      </div>
      <button class="btn btn-block button" routerLink="/">
        Find Sure Odds
      </button>
    </div>
  </div>
</section>
