<section class="showcase">
  <div class="showcase-content">
    <h1>Building Tools for the Modern-Day Sports Handicapper!</h1>
    <!-- <p>
      Elevate your Soccer, NBA betting, and media operations, with the Ultimate
      Data and Research Companion.
    </p> -->

    <a href="mailto:joseph-sure-odds@streamfling.com" target="_blank">
      <button class="btn btn-lg button header-buttons">Conntact Us</button>
    </a>
  </div>
  <div class="showcase-image">
    <img
      class="header-image"
      src="../../../assets/pexels-riccardo-41257.jpg"
      alt=""
    />
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>What is SureOdds?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="description-text">
          At SureOdds, we are a group of data analysts and software developers
          who intimately comprehend the intricacies of data and research in this
          fast-paced sports handicapping. Embrace the future of sports
          handicapping with Sure-Odds. Our B2B solutions are crafted with your
          success in mind. Partner with us, and let's build a winning strategy
          together.
        </p>
      </div>

      <div class="features">
        <div class="text-center">
          <p class="feature-headers">1</p>
          <p class="feature-headers">Innovation in Engagement</p>
          <p class="description-text">
            Stay at the forefront of innovation with Sure-Odds. Our tools
            revolutionize audience engagement, providing not just predictions
            but an immersive experience for your followers.
          </p>
        </div>

        <div class="text-center">
          <p class="feature-headers">2</p>
          <p class="feature-headers">White-Label Excellence</p>
          <p class="description-text">
            Partner with us for white-label excellence. Our solutions seamlessly
            integrate with your brand, ensuring a cohesive and professional
            representation of your handicapping services.
          </p>
        </div>

        <div class="text-center">
          <p class="feature-headers">3</p>
          <p class="feature-headers">Strategic Growth Partnerships</p>
          <p class="description-text">
            Sure-Odds is more than a service provider; we're your growth
            partner. Collaborate with us to unlock new possibilities, enhance
            your offerings, and take your business to new heights.
          </p>
        </div>
      </div>
      <a href="mailto:joseph-sure-odds@streamfling.com" target="_blank">
        <button class="btn btn-block button">Contact Us</button>
      </a>
    </div>
  </div>
</section>
