<!-- dashboards -->
<div class="dashboards">
  <!--Intro Copy-->
  <div class="dash-items">
    <p class="dash-headers">Welcome to SureOdds</p>

    <div class="intro-copy">
      <p>
        Building Tools for Professional Sport Bettors and Modern-Day Sports
        Handicapper.
        <br />
        <br />
        At Sure-Odds, we are your dedicated solution provider, specializing in
        crafting cutting-edge tools tailored for the modern sports handicapper
        and professional sport bettors. Our solutions are designed to help you
        find an edge, empower your business, elevate your offerings, and set you
        up for winning
      </p>
    </div>
    <a
      href="https://discord.com/api/oauth2/authorize?client_id=1190716657442762802&permissions=532576468032&scope=bot"
      target="_blank"
    >
      <button class="btn btn-lg button header-buttons">Add to Discord</button>
    </a>
  </div>

  <!-- NBA Live and Upcoming Game Odds -->
  <app-nba-live-and-upcoming-games></app-nba-live-and-upcoming-games>

  <!--  NBA Player Props Assists -->
  <app-nba-player-assists-page></app-nba-player-assists-page>

  <!--  NBA Player Props Rebounds -->
  <app-nba-player-rebounds-page></app-nba-player-rebounds-page>

  <!-- NBA Player Props Points -->
  <app-nba-player-points-page></app-nba-player-points-page>

  <!-- Soccer Player Props Assists -->
  <app-soccer-player-assists-page></app-soccer-player-assists-page>

  <!-- Soccer Player Props Shots -->
  <app-soccer-player-shots-page></app-soccer-player-shots-page>

  <!-- EPL Live and Upcoming Game Odds -->
  <app-epl-live-and-upcoming-games></app-epl-live-and-upcoming-games>

  <!--  Soccer Player Props Goals -->
  <app-soccer-player-goals-page></app-soccer-player-goals-page>
</div>
