<section class="showcase">
  <div class="showcase-content">
    <h1>Find the Best Betting Odds for Your Favorite Sport</h1>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2">
      <p>Sports and Leagues</p>
    </div>
  </div>
</section>

<div class="events">
  <div *ngFor="let d of data">
    <div class="event" (click)="getGames(d.key)">
      <div class="event-description">
        <p class="event-name">{{ d.title }}</p>
      </div>
    </div>
  </div>
</div>

<!--Promotion-->

<div class="container">
  <div class="card">
    <div class="card-header"><h2>Prize Picks</h2></div>
    <div class="card-body">
      <h4 class="fw-bold">100% deposit match up to $100</h4>
      <p>Must be 21+. Gambling Problem? Call 1-800-GAMBLER</p>
    </div>
    <div class="card-footer">
      <a
        href="https://app.prizepicks.com/sign-up?invite_code=PR-SUWVT13"
        target="_blank"
      >
        <button type="button" class="btn promotions">Claim $100</button>
      </a>
    </div>
  </div>
</div>
