<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/"> SureOdds </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/playerProps"
            >Odds Comparison</a
          >
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/playerProps"
            >Props Analysis</a
          >
        </li> -->
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/about">About</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/bot">Discord Bot</a>
        </li> -->
        <!-- <li *ngIf="!userIsAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li> -->
        <!-- <li *ngIf="!userIsAuthenticated" class="nav-item pro">
          <a class="nav-link" routerLink="/signup">Try Streamfling Pro</a>
        </li> -->
        <!-- <li *ngIf="userIsAuthenticated" class="nav-item">
          <a href="#" class="nav-link" routerLink="/settings">Settings</a>
        </li> -->
        <!-- <li *ngIf="userIsAuthenticated" class="nav-item">
          <a href="#" class="nav-link" (click)="onLogout()">Logout</a>
        </li> -->
        <!-- <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/promotions">Promotions</a>
        </li> -->
        <li class="nav-item">
          <button
            class="btn btn-sm pro-button"
            routerLink="/exclusive-newsletter"
          >
            Enterprise Solution
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
