<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/"> SureOdds </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a href="https://whop.com/sure-odds/" target="_blank">
            <button class="btn btn-sm pro-button">Add to Discord</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
