<header class="absolute inset-x-0 top-0 z-50">
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Sure Odds</span>
        <img
          class="h-8 w-auto"
          src="../../../assets/Black_and_White_Modern_Vintage_Badge_Brand_Logo__2_-removebg-preview.png"
          alt=""
        />
      </a>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <!-- <a
        href="https://discord.gg/PCw3T7Wx"
        target="_blank"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Join Discord</a
      > -->
      <a
        href="https://discord.com/oauth2/authorize?client_id=1234332654170669116&permissions=1126984386608192&integration_type=0&scope=bot"
        target="_blank"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Add Bot to Discord</a
      >
      <a
        href="https://discord.com/oauth2/authorize?client_id=1234332654170669116&permissions=1126984386608192&integration_type=0&scope=bot"
        target="_blank"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Build a Custom Bot</a
      >
      <a href="/blog" class="text-sm font-semibold leading-6 text-gray-900"
        >Blogs</a
      >
    </div>

    <div class="block lg:hidden">
      <a
        href="https://discord.com/oauth2/authorize?client_id=1234332654170669116&permissions=1126984386608192&integration_type=0&scope=bot"
        target="_blank"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Add Bot to Discord</a
      >
    </div>
  </nav>
</header>
