.navbar-brand {
  width: 100px;
  text-decoration: none;
  color: var(--second-color);
}

.navbar {
  background-color: var(--first-color);
  color: #000000;
}

a {
  color: #000000;
}

.nav-link {
  font-family: "Ubuntu", sans-serif;
}

.pro {
  background-color: var(--secondary-color);
  border-radius: 30px;
  border: none;
  text-align: center;
}

.pro a {
  color: #fff;
}

.pro-button {
  background-color: var(--second-color);
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 900;
  border: none;
  color: var(--fourth-color);
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}
