<div class="dash-items">
  <p class="dash-headers">NBA Live and Upcoming games Odds</p>
  <div class="cards-3">
    <ng-container *ngIf="nbaGames.length">
      <div *ngFor="let game of nbaGames">
        <div class="event-type-1">
          <div class="event-type-1-description">
            <p class="event-type-1-name">
              {{ game.away_team }} vs {{ game.home_team }}
            </p>
            <p class="event-type-1-info">
              Date & Time: {{ game.commence_time | date : "short" }}
            </p>
          </div>
          <div class="market-wrapper">
            <p>
              <a
                class="market-detail"
                (click)="getOdds(game.sport_key, game.id)"
              >
                Game Odds
              </a>
            </p>
            <p>
              <a
                class="market-detail"
                (click)="getPlayerProps(game.sport_key, game.id)"
              >
                Player Props
              </a>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!nbaGames.length">
    <app-spinner></app-spinner>
  </ng-container>
</div>
