<!--  Soccer Player Props Goals -->
<div class="dash-items">
  <p class="dash-headers">Soccer Goals (All Comps.)</p>
  <div class="cards-2">
    <ng-container *ngIf="soccerPlayerGoalsProps.length">
      <div *ngFor="let p of soccerPlayerGoalsProps">
        <div class="card-2" (click)="getSoccerPlayerGoalsPropDetails(p.player)">
          <div class="info-wrapper-small-dashboard">
            <!-- <img src="{{ p.playerImage }}" alt="Player Image" /> -->
            <div class="card-2-description">
              <p class="card-2-player-name">{{ p.player }}</p>
              <p class="card-2-player-team">{{ p.team }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!soccerPlayerGoalsProps.length">
    <app-spinner></app-spinner>
  </ng-container>
</div>
