<div class="bg-white">
  <div class="wrapper">
    <div class="row profile">
      <div class="row" *ngIf="blog.fields">
        <div class="col-sm-12 col-md-12 col-xs-12">
          <h4>{{ blog.fields.title }}</h4>
          <div class="row profile-header">
            <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs">
              <div
                id="myProfileCarousel"
                class="carousel slide"
                data-ride="carousel"
              >
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div
                      class="event-img-container"
                      class="col-xs-6 col-sm-6 col-md-6"
                    >
                      <img
                        class="responsive"
                        src="{{ blog.fields.featuredImage.fields.file.url }}"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hidden-xs">
              <p class="list-unstyled event-name-ul">
                <span
                  ><h6>Written BY:</h6>
                  {{ blog.fields.writtenBy }}</span
                >
              </p>
              <p class="list-unstyled event-name-ul">
                <span
                  ><h6>DATE:</h6>
                  {{ blog.fields.date }}</span
                >
              </p>
            </div>
          </div>

          <div class="row profile-content">
            <div class="col-xs-12 col-sm-12 col-md-12 profile-detail-div">
              <ul class="list-unstyled profile-detail-ul">
                <li class="biography">
                  <markdown ngPreserveWhitespaces>
                    {{ blog.fields.content }}
                  </markdown>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
