<div class="data-wrapper">
  <section *ngFor="let g of game" class="tabs">
    <div class="wrapper">
      <div id="tab-2">
        <p>Player Props for {{ g.home_team }} vs {{ g.away_team }}</p>
      </div>
    </div>
  </section>

  <section *ngIf="!propsAvailable" class="tabs">
    <div class="wrapper">
      <div id="tab-2">
        <p>No Player Props Available</p>
      </div>
    </div>
  </section>

  <div *ngIf="propsAvailable" class="events">
    <div *ngFor="let props of propsToDisplay">
      <div
        class="event"
        (click)="getPlayerProps(props.market_key, eventId, sportKey)"
      >
        <div class="event-description">
          <p class="event-name">{{ props.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
