.main-wrapper {
  background-color: var(--first-color);
}

.showcase {
  width: 100%;
  height: 90vh;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.showcase-content h1 {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 0 0 2rem;
  font-family: "Fredoka One", cursive;
}

.showcase-content p {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-image {
  position: relative;
  margin: auto;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.header-image {
  border: var(--first-color) solid 1px;
  border-radius: 15px;
}

button {
  background-color: var(--second-color);
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 900;
  border: none;
  color: var(--fourth-color);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.feature-header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature-header-wrapper {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.feature-header p {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  font-family: "Fredoka One", cursive;
}

.feature-showcase {
  width: 100%;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.feature-showcase-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.feature-showcase-content h1 {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  margin: 0 0 2rem;
  font-family: "Fredoka One", cursive;
}

.feature-showcase-content p {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.feature-showcase-image {
  margin: auto;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.about-header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-header-wrapper {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

@media (max-width: 960px) {
  .showcase {
    height: 50vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-content h1 {
    font-size: 1rem;
    line-height: 1;
  }

  .showcase-content p {
    font-weight: 50;
    font-size: 0.8rem;
    line-height: 1;
  }

  button {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    font-family: "Ubuntu", sans-serif;
  }
}

@media (max-width: 700px) {
  .showcase {
    grid-template-columns: repeat(1, 1fr);
  }

  .showcase-image {
    display: none;
  }

  .feature-showcase {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-showcase-image-2 {
    display: none;
  }

  .showcase::after {
    box-shadow: inset 20px 20px 250px #000000, inset -20px -20px 250px #000000;
  }
}
