<section class="showcase">
  <div class="showcase-content">
    <h1>
      Maximize Your Winnings with the Ultimate Sports Betting Tool: Unleash the
      Power of Odds Comparison and AI Analysis
    </h1>
    <!-- <div class="button-wrapper"> -->
    <button class="btn btn-lg button header-buttons" routerLink="/dashboard">
      Browse Odds
    </button>
    <!-- <button class="btn btn-lg button header-buttons" routerLink="/promotions">
        Promotions
      </button> -->
    <!-- </div> -->
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>What is StreamFling?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          StreamFling is your ultimate tool for sport bettors. Our platform
          provides real-time odds data from diffrent sport books, along with an
          AI analyzer, helping you make informed betting decisions with ease.
        </p>
      </div>
      <div class="tab-2-content-bottom">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md">Odds Comparison Tool</p>
          <p class="bullet-points">
            Maximize your winnings, and never miss out on the most favorable
            opportunities with our powerful odds comparison tool, finding the
            best odds for your sports bets effortlessly.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md">AI Analyzer</p>
          <p class="bullet-points">
            Unlock the power of AI analysis to gain a competitive edge in sports
            betting by effortlessly identifying valuable opportunities and
            maximizing your chances of success.
          </p>
        </div>

        <div class="text-center">
          <h1>3</h1>
          <p class="text-md">Trustworthy Data</p>
          <p class="bullet-points">
            We collaborate exclusively with trusted sportsbooks, guaranteeing
            our customers accurate and dependable odds data for confident and
            informed betting choices.
          </p>
        </div>
      </div>
      <button class="btn btn-block button" routerLink="/dashboard">
        Browse Odds
      </button>
    </div>
  </div>
</section>
