<div class="main-wrapper">
  <section class="showcase">
    <div class="showcase-content">
      <h1>
        The Ultimate Discord Sports Betting Research Bot: Perfect for Bettors
        and Handicappers
      </h1>
      <p>Find value with Sure Odd's comprehensive research bot</p>

      <a
        href="https://discord.com/api/oauth2/authorize?client_id=1190716657442762802&permissions=532576468032&scope=bot"
        target="_blank"
      >
        <button class="btn btn-lg button header-buttons">Add to Discord</button>
      </a>
    </div>
    <div class="showcase-image">
      <img
        class="header-image"
        src="../../../assets/discord laptop screen shot.png"
        alt=""
      />
    </div>
  </section>

  <section class="feature-header">
    <div class="feature-header-wrapper">
      <div class="feature-header-text">
        <p>Research Bot Features</p>
      </div>
    </div>
  </section>

  <!-- features -->
  <section class="feature-body">
    <div class="feature-body-wrapper">
      <!-- Product 1 -->
      <section class="feature-showcase">
        <div class="feature-showcase-image-1">
          <img
            class="feature-header-image"
            src="../../../assets/player-research-discord.png"
            alt=""
          />
        </div>

        <div class="feature-showcase-content">
          <h1>Player Prop Research</h1>
          <p class="feature-showcase-text-1">
            Research different player prop markets and find value with sure odds
            discord research bot.
          </p>

          <a
            href="https://discord.com/api/oauth2/authorize?client_id=1190716657442762802&permissions=532576468032&scope=bot"
            target="_blank"
          >
            <button class="btn btn-lg button header-buttons">
              Add to Discord
            </button>
          </a>
        </div>
      </section>

      <!-- Product 2 -->
      <section class="feature-showcase">
        <div class="feature-showcase-content">
          <h1>Sharp Money Report</h1>
          <p>
            Unveiling the Insights Behind Winning Bets,, with sure odds money
            report feature.
          </p>

          <a
            href="https://discord.com/api/oauth2/authorize?client_id=1190716657442762802&permissions=532576468032&scope=bot"
            target="_blank"
            class="feature-showcase-text-1"
          >
            <button class="btn btn-lg button header-buttons">
              Add to Discord
            </button>
          </a>
        </div>

        <div class="feature-showcase-image-2">
          <img
            class="feature-header-image"
            src="../../../assets/sharp-money-discord.png"
            alt=""
          />
        </div>
      </section>
    </div>
  </section>
</div>
