<section class="showcase">
  <div class="showcase-content">
    <h1>Soccer Bettors, media, and broadcasting solutions!</h1>
    <p>
      We offer a number of solutions for soccer bettors, soccer media and
      brodcasting. Whatever your operation is, we have somthing for you to help
      maximize your success.
    </p>

    <!-- <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSc7ttpyLHrWvuT9a7ofUb_FiEqViYJfbP7Na_LXgC6ujBoDqw/viewform"
      target="_blank"
    >
      <button class="btn btn-lg button header-buttons">Get In Touch</button>
    </a> -->
  </div>
  <div class="showcase-image">
    <img
      class="header-image"
      src="../../../assets/pexels-the-king-12595566.jpg"
      alt=""
    />
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>SureOdds Solutions</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <!-- Product 1 -->
    <section class="showcase">
      <div class="showcase-image">
        <img
          class="header-image"
          src="../../../assets/discord laptop screen shot.png"
          alt=""
        />
      </div>
      <div class="showcase-content">
        <h1>Discord Community For Soccer Bettors</h1>
        <p>
          Soccer bettors Source for Time-Saving Player and Team Data, Insights
          and AI Backed Picks.
        </p>

        <a
          href="https://whop.com/sure-odds-gain-edge-on-soccer-betting/?pass=prod_IFI02j3ErAAGp"
          target="_blank"
        >
          <button class="btn btn-lg button header-buttons">
            Join Community
          </button>
        </a>
      </div>
    </section>

    <!-- Product 2 -->
    <section class="showcase">
      <div class="showcase-content">
        <h1>Twitter AI Bot For Soccer Bettors</h1>
        <p>
          Our twitter AI bot provides you daily with picks and predictions. We
          cover players and teams from all the major soccer leagues.
        </p>

        <a href="https://twitter.com/sure_odds2023" target="_blank">
          <button class="btn btn-lg button header-buttons">Follow Us</button>
        </a>
      </div>
      <div class="showcase-image">
        <img
          class="header-image"
          src="../../../assets/sureodds twitter screen shot.png"
          alt=""
        />
      </div>
    </section>

    <!-- Product 3 -->
    <section class="showcase">
      <div class="showcase-image">
        <img
          class="header-image"
          src="../../../assets/sureodds player prop research screen shot.png"
          alt=""
        />
      </div>
      <div class="showcase-content">
        <h1>Research Desk for soccer media, and broadcasting companies</h1>
        <p>
          Get quick answers to all your data and stats questions from our
          industry leading research team. Our Research Desk gives you and your
          entire team your own Slack channel, where you get access to our
          researchers on demand.
        </p>

        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSc7ttpyLHrWvuT9a7ofUb_FiEqViYJfbP7Na_LXgC6ujBoDqw/viewform"
          target="_blank"
        >
          <button class="btn btn-lg button header-buttons">Get In Touch</button>
        </a>
      </div>
    </section>
    <!-- <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          We provide Sports Media, Broadcasting and Bettors insights to help
          inform their operations. Get access to comprehensive data and insight,
          save time on research and hello to SureOdds – your source for research
          data and insights.
        </p>
      </div>
      <div class="features">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md">Research Desk</p>
          <p class="bullet-points">
            Get quick answers to all your data and stats questions from our
            industry leading research team. Our Research Desk gives you and your
            entire team your own Slack channel, where you get access to our
            researchers on demand.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md">Game and Player Notes</p>
          <p class="bullet-points">
            Enhance your operation with detailed player and teams information
            packages from the industry's top statisticians. Game and Player
            Notes includes a combination of text insights and stats tables to
            help with your operation.
          </p>
        </div>
      </div>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSc7ttpyLHrWvuT9a7ofUb_FiEqViYJfbP7Na_LXgC6ujBoDqw/viewform"
        target="_blank"
      >
        <button class="btn btn-block button">Get In Touch</button>
      </a> -->
    <!-- </div> -->
  </div>
</section>
