<section class="showcase">
  <div class="showcase-content">
    <h1>sport media, broadcasting and bettors solutions!</h1>
    <p>Our In-Depth Research Gives You the Winning Edge and Saves you time.</p>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSc7ttpyLHrWvuT9a7ofUb_FiEqViYJfbP7Na_LXgC6ujBoDqw/viewform"
      target="_blank"
    >
      <button class="btn btn-lg button header-buttons">Get In Touch</button>
    </a>
  </div>
  <div class="showcase-image">
    <img
      class="header-image"
      src="../../../assets/pexels-riccardo-41257.jpg"
      alt=""
    />
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>What is SureOdds Newsletter?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          We provide Sports Media, Broadcasting and Bettors insights to help
          inform their operations. Get access to comprehensive data and insight,
          save time on research and hello to SureOdds – your source for research
          data and insights.
        </p>
      </div>
      <div class="features">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md">Research Desk</p>
          <p class="bullet-points">
            Get quick answers to all your data and stats questions from our
            industry leading research team. Our Research Desk gives you and your
            entire team your own Slack channel, where you get access to our
            researchers on demand.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md">Game and Player Notes</p>
          <p class="bullet-points">
            Enhance your operation with detailed player and teams information
            packages from the industry's top statisticians. Game and Player
            Notes includes a combination of text insights and stats tables to
            help with your operation.
          </p>
        </div>
      </div>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSc7ttpyLHrWvuT9a7ofUb_FiEqViYJfbP7Na_LXgC6ujBoDqw/viewform"
        target="_blank"
      >
        <button class="btn btn-block button">Get In Touch</button>
      </a>
    </div>
  </div>
</section>
