<!--  NBA Player Props Rebounds -->
<div class="dash-items">
  <p class="dash-headers">NBA Player Rebounds</p>
  <div class="cards-2">
    <ng-container *ngIf="nbaPlayerReboundsProps.length">
      <div *ngFor="let p of nbaPlayerReboundsProps">
        <div class="card-2" (click)="getNbaPlayerReboundPropDetails(p.player)">
          <div class="info-wrapper-small-dashboard">
            <img src="{{ p.playerImage }}" alt="Player Image" />
            <div class="card-2-description">
              <p class="card-2-player-name">{{ p.player }}</p>
              <p class="card-2-player-team">{{ p.team }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!nbaPlayerReboundsProps.length">
    <app-spinner></app-spinner>
  </ng-container>
</div>
