<section class="showcase">
  <div class="showcase-content">
    <h1>Find the Best Sportbook Promotions</h1>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2">
      <p>Promotions</p>
    </div>
  </div>
</section>

<div class="container">
  <div class="card mb-2">
    <div class="card-header"><h2>Prize Picks</h2></div>
    <div class="card-body">
      <h4 class="fw-bold">100% deposit match up to $100</h4>
      <p>Must be 21+. Gambling Problem? Call 1-800-GAMBLER</p>
    </div>
    <div class="card-footer">
      <a
        href="https://app.prizepicks.com/sign-up?invite_code=PR-SUWVT13"
        target="_blank"
      >
        <button type="button" class="btn promotions">Claim $100</button>
      </a>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-header"><h2>Underdog Fantasy</h2></div>
    <div class="card-body">
      <h4 class="fw-bold">100% deposit match up to $100</h4>
      <p>Must be 21+. Gambling Problem? Call 1-800-GAMBLER</p>
    </div>
    <div class="card-footer">
      <a href="https://play.underdogfantasy.com/magnusdomitor" target="_blank">
        <button type="button" class="btn promotions">Claim $100</button>
      </a>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-header"><h2>Parlay Play</h2></div>
    <div class="card-body">
      <h4 class="fw-bold">100% deposit match up to $100</h4>
      <p>Must be 21+. Gambling Problem? Call 1-800-GAMBLER</p>
    </div>
    <div class="card-footer">
      <a
        href="https://parlayplay.io/account/signup?coupon=joeddomitor"
        target="_blank"
      >
        <button type="button" class="btn promotions">Claim $100</button>
      </a>
    </div>
  </div>
</div>
