<!-- Soccer Player Props Shots -->
<div class="dash-items">
  <p class="dash-headers">Soccer Shots (All Comps.)</p>
  <div class="cards-2">
    <ng-container *ngIf="soccerPlayerShotsProps.length">
      <div *ngFor="let p of soccerPlayerShotsProps">
        <div class="card-2" (click)="getSoccerPlayerShotsPropDetails(p.player)">
          <div class="info-wrapper-big-dashbord">
            <img src="{{ p.playerImage }}" alt="Player Image" />
            <div class="card-2-description">
              <p class="card-2-player-name">{{ p.player }}</p>
              <p class="card-2-player-team">{{ p.team }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!soccerPlayerShotsProps.length">
    <app-spinner></app-spinner>
  </ng-container>
</div>
