<!-- Soccer Player Props Assists -->
<div class="dash-items">
  <p class="dash-headers">Soccer Assists (All Comps.)</p>
  <div class="cards-2">
    <ng-container *ngIf="soccerPlayerAssistsProps.length">
      <div *ngFor="let p of soccerPlayerAssistsProps">
        <div
          class="card-2"
          (click)="getSoccerPlayerAssistsPropDetails(p.player)"
        >
          <div class="info-wrapper-big-dashbord">
            <!-- <img src="{{ p.playerImage }}" alt="Player Image" /> -->
            <div class="card-2-description">
              <p class="card-2-player-name">{{ p.player }}</p>
              <p class="card-2-player-team">{{ p.team }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!soccerPlayerAssistsProps.length">
    <app-spinner></app-spinner>
  </ng-container>
</div>
