<!-- NBA Player Props Points -->
<div class="dash-items">
  <p class="dash-headers">NBA Player Points</p>
  <div class="cards-1">
    <ng-container *ngIf="nbaPlayerPointsProps.length">
      <div *ngFor="let p of nbaPlayerPointsProps">
        <div class="card-1" (click)="getNbaPlayerPointPropDetails(p.player)">
          <div class="info-wrapper-big-dashbord">
            <img src="{{ p.playerImage }}" alt="Player Image" />
            <div class="card-1-description">
              <p class="card-1-player-name">{{ p.player }}</p>
              <p class="card-2-player-team">{{ p.team }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!nbaPlayerPointsProps.length">
    <app-spinner></app-spinner>
  </ng-container>
</div>
