<section class="showcase">
  <!-- <div class="showcase-content">
    <h1>Maximize Your Betting Potential with Comprehensive Odds Comparison</h1>
  </div> -->

  <!-- Chat bot solution -->
  <section class="chat-box">
    <h1>
      Streamfling AI: Unlock Your Winning Edge with Our AI-Powered Odds Analyzer
      and Comparison Tool!
    </h1>
    <div *ngIf="isLoading">
      <h4>Loading...</h4>
    </div>
    <p *ngIf="!isLoading" id="output" class="bot-response">
      {{ botResponse }}
    </p>
    <div class="bottom-section">
      <div class="input-container">
        <form
          class="input-form"
          (submit)="onInput(inputForm)"
          #inputForm="ngForm"
        >
          <input
            type="text"
            ngModel
            name="prompt"
            #prompt="ngModel"
            class="text-box"
          />
          <input type="submit" class="btn btn-sm button" value="Submit" />
        </form>
      </div>
    </div>
  </section>
</section>

<div *ngFor="let odd of odds" class="header">
  <h3>
    {{ odd.home_team }} vs {{ odd.away_team }} ({{
      odd.commence_time | date : "medium"
    }})
  </h3>
</div>

<div class="table-wrapper">
  <table
    class="table table-bordered table-dark table-sm"
    *ngFor="let odd of odds"
  >
    <tbody>
      <tr>
        <td *ngFor="let book of odd.bookmakers; let i = index">
          {{ book.title }}

          <div class="event" *ngFor="let market of book.markets; let i = index">
            <h6>
              {{ market.key }}
              :
            </h6>
            <div *ngFor="let outcome of market.outcomes; let i = index">
              {{ outcome.name }} {{ outcome.price }}
              <div *ngIf="outcome.point">({{ outcome.point }})</div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
