.data-wrapper {
  background-color: var(--first-color);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.table-wrapper {
  border-radius: 5px;
  background-color: var(--second-color);
  width: 95%;
  height: 450px;
  overflow-x: scroll;
  overflow-y: scroll;
  border: 1px solid #000;
  box-shadow: 4px 3px 8px 0px rgb(7, 7, 7);
}

.book-title {
  font-weight: 300;
  font-size: 10px;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-market-key {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-outcome-name-and-price {
  color: #fff;
  font-weight: 300;
  font-size: 10px;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-outcome-point {
  color: #fff;
  font-weight: 300;
  font-size: 10px;

  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header {
  display: block;
  text-align: center;
  padding-top: 30px;
}

.header h3 {
  font-size: 1.5rem;
  font-weight: 50;
  padding-top: 0.5rem;
  font-family: "Fredoka One", cursive;
}

.event {
  width: 200px;
  margin: 10px;
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--third-color);
  color: #fff;
  transition-duration: 0.3s;
  cursor: pointer;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}

::-webkit-scrollbar-thumb {
  background: #{"hsl(0, 0%, 0%, 1)"};
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #{"hsl(0, 0%, 0%, 1)"};
}
