<section class="showcase">
  <div class="showcase-content">
    <h1>Research for Handicappers and Profesional Sports bettors!</h1>
    <p>Our In-Depth Research Gives You the Winning Edge and Saves you time.</p>

    <a href="https://sures-odds-newsletter.beehiiv.com/upgrade" target="_blank">
      <button class="btn btn-lg button header-buttons">Subscribe Now</button>
    </a>
  </div>
  <div class="showcase-image">
    <img
      class="header-image"
      src="../../../assets/pexels-riccardo-41257.jpg"
      alt=""
    />
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>What is SureOdds Newsletter?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          We provide Handicappers and Professional Sports Bettors insights for
          informed betting on up to 10 random players and teams. Get access to
          comprehensive data and insight, save time on research and hello to
          SureOdds exclusive newsletter – your source of data-backed insights.
        </p>
      </div>
      <div class="features">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md">Weekly Insights</p>
          <p class="bullet-points">
            We send you up to 5 random players and team insights every day, to
            help inform your betting decisions.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md">Time Savings</p>
          <p class="bullet-points">
            Say goodbye to hours of research. We've got it covered, so you can
            enjoy the game and save your time for more important matters.
          </p>
        </div>

        <div class="text-center">
          <h1>3</h1>
          <p class="text-md">Maximizing Winnings</p>
          <p class="bullet-points">
            Handicapping without insights is like sailing without a map. We
            provide you with the navigation to maximizing your winnings.
          </p>
        </div>
      </div>
      <a
        href="https://sures-odds-newsletter.beehiiv.com/upgrade"
        target="_blank"
      >
        <button class="btn btn-block button">Subscribe Now</button>
      </a>
    </div>
  </div>
</section>
