<section class="showcase">
  <div class="showcase-content">
    <h1>
      Discover Winning Opportunities with our Discord Sport Betting Odds
      Comparison Bot!!
    </h1>
    <!-- <p>Everything music and entertainment</p>
    <button class="btn btn-lg" routerLink="/signup">Try It Now</button> -->
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-1" class="tab-item tab-border">
      <h3 class="hide-sm">Why Streamfling Discord Bot?</h3>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <div>
          <p class="text-lg">
            Our Sport Betting Comparison Bot for Discord empowers users to
            uncover hidden value in the market and make informed betting
            decisions. With real-time data and comprehensive analysis, our bot
            equips sport bettors with the information they need to identify
            favorable odds, compare bookmakers, and maximize their chances of
            winning. From tracking live odds to providing in-depth statistics,
            our bot is the ultimate companion for Discord Sport betting users
            looking to gain an edge in the world of sports betting.
          </p>
          <a
            href="https://discord.com/api/oauth2/authorize?client_id=1105990794659250346&permissions=519232&scope=bot"
            target="_blank"
          >
            <button class="btn btn-lg">Add To Your Discord Server</button>
          </a>
        </div>
        <img
          src="../../../assets/Screenshot 2023-05-17 152709.png"
          alt="discord-bot-icon"
        />
      </div>
    </div>
  </div>
</section>
