/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  // --first-color: #eeeeee;
  // --second-color: #ff5722;
  // --third-color: #393e46;
  // --fourth-color: #222831;
  // --first-color: #fdf6f6;
  // --second-color: #a5e9e1;
  // --third-color: #388186;
  // --fourth-color: #2e2b2b;
  // --first-color: #eeeeee;
  // --second-color: #4ae3b5;
  // --third-color: #2a5d67;
  // --fourth-color: #171332;
  --first-color: #e6d3a7;
  --second-color: #59a985;
  --third-color: #3a7563;
  --fourth-color: #392f2f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
