<div class="data-wrapper">
  <div class="chart-wrapper">
    <div *ngFor="let d of playerData">
      <h5 class="player-name">{{ d.player }} - {{ d.team }}</h5>
      <div class="detail-and-image-wrapper">
        <!-- <img src="{{ d.playerImage }}" alt="Player Image" /> -->
        <div class="detail-wrapper">
          <div class="detail">
            <div class="detail-description">
              <p class="detail-name">Current Season Avg(Goals)</p>
              <p class="detail-name">{{ d.goalsPerGameCurrentSeason }}</p>
            </div>
          </div>
          <div class="detail">
            <div class="detail-description">
              <p class="detail-name">Last 3 Avg(Goals)</p>
              <p class="detail-name">{{ d.avergeLastThree }}</p>
            </div>
          </div>
          <div class="detail">
            <div class="detail-description">
              <p class="detail-name">Last 5 Avg(Goals)</p>
              <p class="detail-name">{{ d.avergeLastFive }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>
