<div class="chart-wrapper">
  <div *ngFor="let d of playerData">
    <h5 class="player-name">{{ d.player }} - {{ d.team }}</h5>
    <div class="detail-wrapper">
      <div class="detail">
        <div class="detail-description">
          <p class="detail-name">Last 3 Avg (Walks)</p>
          <p class="detail-name">{{ d.averageLastThree }}</p>
        </div>
      </div>
      <div class="detail">
        <div class="detail-description">
          <p class="detail-name">Last 5 Avg (Walks)</p>
          <p class="detail-name">{{ d.averageLastFive }}</p>
        </div>
      </div>
      <div class="detail">
        <div class="detail-description">
          <p class="detail-name">Next Gm Proj. (Walks)</p>
          <p class="detail-name">{{ d.nextGameProjection }}</p>
        </div>
      </div>
    </div>
  </div>
  <canvas id="canvas">{{ chart }}</canvas>
</div>
